html,
body {
  height: 100%;
}

button {
  display: inline-block;
  border-radius: 8px;
  box-shadow: 4px 6px 1px 1px #a4a4a4ee;
  border: none;
  font-family: monospace;
  /* color: #FFFFFF; */
  text-align: center;
  font-size: 16px;
  padding: 15px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  -webkit-animation: color-change 14s infinite;
  animation: color-change 14s infinite; 
}

#red {
  border: solid 1px  #ffffffee;
  background-color: rgb(206, 19, 19);
}

#grey {
  border: solid 1px  #ffffffee;
  background-color: rgb(155, 155, 155)
}

#green {
  border: solid 1px  #ffffffee;
  background-color: rgb(109, 172, 109);
}

#random {
  border: solid 1px  #ffffffee;
  max-width: 100%;
  max-height: 60vh;
  margin: auto;
  -webkit-animation: background 10s cubic-bezier(1,0,0,1) infinite, color-change 8s infinite;
  animation: background 10s cubic-bezier(1,0,0,1) infinite, color-change 8s infinite;  
}

@-webkit-keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }  
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

@keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }  
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

@-webkit-keyframes color-change {
  0% { color: white; }
  50% { color: black; }
  100% { color: white; }
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

::-webkit-scrollbar {
  display: none;
}

#popup {
  height: 483px;
  text-align:center;
  padding: 50px;
  max-width: 100%;
  max-width: fit-content;
  -webkit-animation: background 14s cubic-bezier(1,0,0,1) infinite;
  animation: background 14s cubic-bezier(1,0,0,1) infinite;  
}

@-webkit-keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }  
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

@keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }  
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

#footer {
  font-family:monospace;
  position: absolute;
  bottom: 30px;
  width: 100%;
}